h1,
p,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  padding: 10px 5px;
}

div {
  width: 800px;
  margin: auto;
  background-color: ghostwhite;
}

h1 {
  text-align: center;
  margin: 10px auto;
  font-size: 30px;
  font-weight: bold;
}

#welcome {
  font-size: 25px;
  text-align: center;
}

#Hello {
  font-size: 25px;
}

img {
  margin: 0px 10px;
  width: 200px;
  height: 200px;
  border-radius: 40%;
  padding: 5px;
}

body {
  background-color: azure;
}

h2,
h3 {
  font-size: 25px;
  margin: 5px 0px;
  padding: 10px 5px;
  color: cornflowerblue;
}

tr {
  margin: 10px;
  padding: 10px;
}

#foot {
  text-align: center;
  color: cornflowerblue;
  font-size: 20px;
  font-weight: bold;
}

.info th {
  padding: 0 15px 0;
  margin: 0 0 15px 0;
  font-size: 20px;
}

.info td {
  font-size: 15px;
  padding: 10px 15px 0;
  margin: 0 0 5px 0;
}

ul,
ol {
  margin: 15px;
  padding: 5px;
  font-size: 15px;
}

form {
  margin: 15px;
}

form * {
  padding: 4px;
}

a:link {
  color: #6c63ff;
}

footer {
  color: #6c63ff;
  text-align: center;
}

.rate td {
  padding-left: 20px;
}

.rate th {
  /* border-left: solid 2px #6C63FF; */
  border-left-width: 10px;
}
